<?xml version="1.0" encoding="utf-8"?>
 <!--
 Copyright © 2025 Olo Inc. All rights reserved.
 This software is made available under the MIT License (See LICENSE file)
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>
</manifest>
